<head>
  <link rel="shortcut icon" href="assets/img/favicon.ico"  >
  <title>Dissertation</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">

  <!------ other styles ------->
  <link rel="stylesheet" href="assets/css/index.css">
</head>
