:root {
  --main-width: 90vw; /* 65vw is best for 16:9 screens. for 4:3 screens, try 100vw. */
  --main-height: calc(var(--main-width) * 0.75);
  --side-panel-width: calc((97vw - var(--main-width)) / 2);
  --main-margin-top: 0.5vw;
  --main-font-size: 2vw;
  --title-slide-font: 'Julius Sans One', sans-serif;
  /* using sans serif font. */
  --main-text-font: 'Fira Sans', sans-serif;
  --main-text-font-weight: 300;
  --main-text-bold-font-weight: 400;
  --author-info-font: 'Fira Sans', sans-serif;
  /*--main-font-color: #404040;*/
  --main-font-color: black;
  --nav-font-size: 1vw;
  --float-captions-size: calc(var(--main-font-size));
  --small-float-captions-size: calc(var(--main-font-size) * 0.7);
  --tiny-float-captions-size: calc(var(--main-font-size) * 0.5);
}
body * {
  color: var(--main-font-color);
}
.slide-container {
  margin-top: var(--main-margin-top);
  margin-bottom: 100vh;
}
div.footer {
  width: var(--main-width);
  margin: auto;
}
.control-panel{
  float: left;
  width: var(--side-panel-width);
  height: var(--main-height);
}
.slide-deck {
  float: left;
  width: var(--main-width);
  height: var(--main-height);
  /*margin: auto;*/
  margin-bottom: 0vw;
}
.slide-deck.hint {
  border: solid 1px lightgrey;
}
section h1, section h2, section h3, section h4, section h5, section h6 {
  margin-top: 0;
  font-weight: 500;
  font-size: 2.3vw;
  font-family: var(--title-slide-font);
  /* font-family: var(--main-text-font); */
}
section.title-slide * {
  font-family: var(--title-slide-font);
  font-weight: 300
}
section.title-slide .author-info * {
  font-family: var(--author-info-font);
  font-weight: 300
}
section.title-slide h1 {
  line-height: 1.1;
  font-size: 7vw;
  font-weight: var(--main-text-bold-font-weight);
  margin-top:0;
  margin-bottom:0;
}
section.title-slide h2 {
  font-size: 6vw;
}
.slide-deck section {
  line-height: 1.2;
  margin:0;
  font-weight: var(--main-text-font-weight);
  font-family: var(--main-text-font);
  font-size: var(--main-font-size);
  color: black;
}
section {
  display: none;
}
#slides-link {
  font-size: var(--nav-font-size);
}
#page-counter {
  font-size: var(--nav-font-size);
  position: absolute;
  right: 1vw;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size: 1.5vw;
}
li {
  line-height: 3vw;
}
ul.far li { /* far line separation */
  margin-bottom: 3vw;
}
ul.med li {  /* medium lin separation */
  margin-bottom: 1.5vw;
}
section a {
  text-decoration: none 
}
.highlight pre {
  padding: 1vw;
  border-radius: 0.5vw;
  margin: 2vw;
}
.tight-img {
  margin-top: 0;
  margin-bottom: 0;
}
