:root {
  --main-width: 65vw; /* 65vw is best for 16:9 screens. for 4:3 screens, try 100vw. */
  --side-panel-width: calc((98vw - var(--main-width)) / 2);
  --main-margin-top: 0.5vw;
  --main-font-size: 2vw;
  --title-slide-font: 'News Cycle', sans-serif;
  /* using serif font. */
  --main-text-font: 'Newsreader', serif;
  --main-text-font-weight: 500;
  /* Using sans font.
  --main-text-font: 'Roboto', serif;
  --main-text-font-weight: 400;
  */
  --author-info-font: 'Roboto', sans-serif;
  --main-font-color: #404040;
  --nav-font-size: 1vw;
}
body * {
  color: var(--main-font-color);
}
.slide-container {
  margin-top: var(--main-margin-top);
}
div.footer {
  width: var(--main-width);
  margin: auto;
}
div.left-panel {
  text-align: right;
  float: left;
  width: var(--side-panel-width);
}
div.right-panel {
  text-align: left;
  float: left;
  width: var(--side-panel-width);
}
.control-panel .arrow {
  padding: 5vw;
  font-size: 2vw;
  color: silver;
}
a.arrow:hover {
  color: blue;
  cursor: pointer;
  font-size: 2.2vw;
}
.slide-deck {
  float: left;
  width: var(--main-width);
  height: calc(var(--main-width) * 0.75);
  /*margin: auto;*/
  margin-bottom: 0vw;
}
.slide-deck.hint {
  border: solid 1px lightgrey;
}
section h1, section h2, section h3, section h4, section h5, section h6 {
  margin-top: 0;
  font-weight: 500;
  font-family: var(--title-slide-font);
  /* font-family: var(--main-text-font); */
}
section.title-slide * {
  font-family: var(--title-slide-font);
  font-weight: 300
}
section.title-slide .author-info * {
  font-family: var(--author-info-font);
  font-weight: 300
}
section.title-slide h1 {
  line-height: 1.1;
  font-size: 7vw;
  font-weight: 400;
  margin-top:0;
  margin-bottom:0;
}
section.title-slide h2 {
  font-size: 6vw;
}
.slide-deck section {
  line-height: 1.2;
  margin:0;
  font-weight: var(--main-text-font-weight);
  font-family: var(--main-text-font);
  font-size: var(--main-font-size);
  color: black;
}
section {
  display: none;
}
#slides-link {
  font-size: var(--nav-font-size);
}
#page-counter {
  font-size: var(--nav-font-size);
  position: absolute;
  right: 1vw;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size: 1.5vw;
}
li {
  line-height: 3vw;
}
ul.far li { /* far line separation */
  margin-bottom: 3vw;
}
ul.med li {  /* medium lin separation */
  margin-bottom: 1.5vw;
}
section a {
  text-decoration: none 
}
.highlight pre {
  padding: 1vw;
  border-radius: 0.5vw;
  margin: 2vw;
}
.katex {
  font-size: calc(var(--main-font-size));
}
