:root {
  --main-width: 65vw; /* 65vw is best for 16:9 screens. for 4:3 screens, try 100vw. */
}
.slide-deck.hint {
  border: solid 1px lightgrey;
}
.slide-deck {
   /*background-color: #ffe6e6;*/
   width: var(--main-width);
   height: calc(var(--main-width) * 0.75);
   margin: auto;
   margin-top: 0vw;
   margin-bottom: 0vw;
}
section .title-slide {
  line-height: 1.1;
  font-size: 7vw;
  font-weight: 400;
  margin-top:0vw;
  margin-bottom:0vw;
  font-family: 'News Cycle', sans-serif;
}
section h2.title-slide {
  font-size: 6vw;
}
section>h1,h2,h3,h4,h5,h6 {
  margin-top:0;
  font-weight: 500;
  font-family: 'News Cycle', sans-serif;
}
.slide-deck section {
  line-height: 1.2;
  margin:0;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
  font-size: 2.0vw;
  color: black;
}
section {
  display: none;
}
#page-counter {
  font-size: 1.5vw;
  position: absolute;
  right: 1vw;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
figcaption {
  font-size: 1.5vw;
}
ul.far li { /* far line separation */
  margin-bottom: 3vw;
}
ul.med li {  /* medium lin separation */
  margin-bottom: 1.5vw;
}
section a {
  text-decoration: none 
}